* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    float: left;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: #000;
    color: #fff;
    font-size: 2.5rem
}

h2 {
  height: 5vh;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.game {
    float: left;
    width: 100%;
    height: 35vh;
}

#cs2 {
    background: #D97A15;
}

#r6 {
    background: #F74352;
}

.skin {
    background: #fff;
    width: 18%;
    height: 15vh;
    float: left;
    margin-left: 1.6%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer {
    width: 100%;
    height: 10vh;
    background-color: #42D0FF;
    float: left;
}

section {
    width: 100%;
    height: auto;
    float: left;
    padding: 1%;
}